* {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: x-large;
}
header {
    background: linear-gradient(90deg, rgba(58,65,180,1) 0%, rgba(33,57,244,1) 36%, rgba(29,148,253,1) 58%, rgba(69,252,239,1) 100%);
    width: 100%;
    height: 30rem;
}
.header {
    margin-left: 3rem;
    position: fixed;
    z-index: 2;
}
.header ul {
    float: right;
    margin-top: 0;
    display: flex;
    margin-left: 30rem;
}
.header a {
    text-decoration: none;
    color: black;
    margin-right: 3rem;
    transition: all 0.5s;
}
.header a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: black;
    margin-right: 3rem;
}
.header h1 {
    background: rgba(28, 217, 123, 0.5);
    padding: 10px;
    width: 100%;
}
.main {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 45rem;
    font-weight: bold;
    margin-top: 120px;
}
.book {
    box-shadow: 5px 5px;
    border: 5px solid white;
    border-radius: 10px;
    background-color: white;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    transition: all 0.5s;
}
.book:hover {
    box-shadow: -5px -5px;
    border: 5px solid lightblue;
    border-radius: 10px;
    background-color: lightblue;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.book img {
    border-radius: 10px;
    height: 105%;
}
.front-content {
    display: flex;
}
.front-content h1{
    padding-left: 3rem;
}
.text {
    text-align: left;
    padding-left: 3rem;
}
.text .p1 {
    font-size: 15px;
}
.text .n {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
}
.text .p4 {
    text-align: justify;
    font-size: 17px;
    color: grey;
}
.text .p4 sup {
    font-size: 14px;
    color: grey;
}
.text .p4 .c {
    width: 30px;
    height: 30px;
}
.text .p4 .g {
    width: 30px;
    height: 20px;
}
.text .links {
    display: flex;
}
.text .links img {
    padding-left: 4rem;
    width: 50px;
    height: 50px;
}
.text .p4 a {
    text-decoration: none;
    cursor: pointer;
    color: grey;
    font-size: 17px;
}
.text .p4 a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: green;
    font-size: 17px;
}
.break{
    padding: 5rem;
    color: white;
}
.ed {
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(244,57,130,1) 25%, rgba(253,148,59,1) 65%, rgba(0,0,0,0) 100%);
}
.ed h1 {
    font-size: 5rem;
    margin: 0;
}
.ed h5 {
    margin: 0;
}
.maul {
    margin-top: 3rem;
}
.hed {
    padding: 1rem;
    float: center;
    width: 30rem;
    border: 3px solid black;
    border-radius: 5rem;
    background-color: #ffbf80;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.drop {
    width: 30rem;
    position: relative;
    display: inline-block;
}
.coul {
    padding-left: 30rem;
    padding-bottom: 1rem;
}
.con {
    margin-left: 2rem;
    position: absolute;
    min-width: 10rem;
}
/*.con a {
    color: black;
    display: block;
}
.drop:hover .con {
    display: block;
}*/
.drop:hover .hed {
    background: rgba(0,0,0,0);
}
.sk {
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(57,207,130,1) 25%, rgba(148,253,59,1) 65%, rgba(0,0,0,0) 100%);
}
.skm {
    padding-top: 3rem;
}
.sk h1 {
    font-size: 5rem;
    margin: 0;
}
.hskm {
    text-align: left;
    padding-left: 10rem;
}
.bar {
    padding-top: 12px;
    border-radius: 10px;
    border: 2px solid red;
    height: 1rem;
    width: 50rem;
}
.py {
    z-index: 2;
    background: linear-gradient(90deg, rgba(100,0,0,1) 70% , rgba(0,0,0,0) 10%);
}
.cl {
    background: linear-gradient(90deg, rgba(100,0,0,1) 50%, rgba(0,0,0,0) 10%);
}
.html {
    background: linear-gradient(90deg, rgba(100,0,0,1) 80%, rgba(0,0,0,0) 10%);
}
.css {
    background: linear-gradient(90deg, rgba(100,0,0,1) 80%, rgba(0,0,0,0) 10%);
}
.js {
    background: linear-gradient(90deg, rgba(100,0,0,1) 60%, rgba(0,0,0,0) 10%);
}
.sql {
    background: linear-gradient(90deg, rgba(100,0,0,1) 70%, rgba(0,0,0,0) 10%);
}
.lin {
    background: linear-gradient(90deg, rgba(100,0,0,1) 50%, rgba(0,0,0,0) 10%);
}
.php {
    background: linear-gradient(90deg, rgba(100,0,0,1) 50%, rgba(0,0,0,0) 10%);
}
.bbar {
    margin: 1rem 0 1rem 3rem;
}
.pr {
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(140,7,20,1) 25%, rgba(248,2,9,1) 65%, rgba(0,0,0,0) 100%);
}
.pr h1 {
    font-size: 5rem;
    margin: 0;
}
.pn {
    display: flex;
    margin-top: 3rem;
}
.space{
    padding: 2rem;
}
.bfb {
    margin: auto;
    padding: 5px 5px 0 5px;
    text-align: center;
    border: 3px solid black;
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem;
    background-color: cyan;
    transition: all 0.5s;
}
.bfb:hover {
    margin: auto;
    text-align: center;
    padding: 5px 5px 10px 5px;
    box-shadow: 10px 10px 10px 2px;
    border: 3px solid black;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    background-color: cyan;
    cursor: pointer;
    transition: all 0.5s;
}
.f {
    margin-right: 45px;
}

.pmp {
    border: 3px solid black;
    text-align: justify;
    border-radius: 10px;
    width: 20rem;
    height: 15rem;
    overflow: hidden;
    background-color: cyan;
    transition: all 0.5s;
    padding: 10px 10px 0 10px;
}
.pmp h3 {
    text-align: center;
}
.pmp a {
    text-decoration: none;
    color: black;
}
.pmp a:hover {
    text-decoration: underline;
}
.pmp img {
    padding-left: 1rem;
    width: 30px;
    height: 30px;
}
.pmp:hover {
    border: 3px solid black;
    text-align: justify;
    box-shadow: 10px 10px 10px 2px;
    border-radius: 10px;
    width: 22rem;
    height: 17rem;
    overflow: hidden;
    background-color: cyan;
    transition: all 0.5s;
    padding: 10px 10px 0 10px;
}
.co {
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(33,57,244,1) 25%, rgba(29,148,253,1) 65%, rgba(0,0,0,0) 100%);
}
.co h1 {
    font-size: 5rem;
    margin: 0;
}
.fr {
    margin-top: 3rem;
}
.mfr {
    text-align: center;
    border: 3px solid white;
    border-radius: 40px;
    padding: 10px;
    height: 26rem;
    width: 25rem;
    background-color: white;
    box-shadow: 10px 4px 6px 2px;
}
.mfr input  {
    margin-top: 1rem;
    border-radius: 10px;
}
.mfr h3 {
    padding-right: 1rem;
    float: left;
}
.sf{
    padding: 1rem;
}
.mfr textarea {
    height: 256px;
    width: 358px;
}
.mfr button {
    border: 5px solid #ffbf80;
    border-radius: 10px;
    background-color: #ffbf80;
}
